.start-page.header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #999999;
}

.start-page.smaller-header {
    font-size: 14px;
    font-weight: bold;
}

.start-page.regular-text {
    font-size: 12px;
    font-weight: 400;
}

.start-page.paging-text-gray {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.start-page.paging-text-blue {
    font-size: 14px;
    font-weight: bold;
    color: #005DC3;
}

.start-page.pointer-on-hover:hover {
    cursor: pointer;
}

.start-page.paging-text-black {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.start-page.paging-width {
    width: 400px;
}

.start-page.my-paging-selector-bar {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    word-spacing: 14px;
}

.start-page.line-border {
    border-bottom: 1px solid #999999;
}

.start-page.clear-float {
    clear: both;
}

.start-page.rate-container {
    height: 17px;
    width: 75px;
    padding-left: 20px;
    float: left;
}

.start-page.star-gold {
    font-size: 17px;
    color: gold;
}

/*.start-page.rate-container > .start-page.star-hollow {
    float: right;
}

.start-page.rate-container > .start-page.star-filled {
    float: right;
}

.start-page.rate-container > .start-page.star-half {
    float: right;
}*/

/*.start-page.rate-container > .start-page.star-hollow:hover ~ .start-page.star-hollow:after,
.start-page.rate-container > .start-page.star-hollow:hover:after,
.start-page.rate-container > .start-page.star-half:hover ~ .start-page.star-half:after,
.start-page.rate-container > .start-page.star-half:hover:after,
.start-page.rate-container > .start-page.star-hollow:hover ~ .start-page.star-half:after {
    content: "\f005";
    font-family: FontAwesome;
    color: gold;
}

.start-page.rate-container > .start-page.star-hollow:after {
    content: "\f006";
    font-family: FontAwesome;
    color: gold;
}

.start-page.rate-container > .start-page.star-filled:after {
    content: "\f005";
    font-family: FontAwesome;
    color: gold;
}

.start-page.rate-container > .start-page.star-half:after {
    content: "\f123";
    font-family: FontAwesome;
    color: gold;
}*/